:root {
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #f9f002;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #136377;
  --green-color: #446d44;
  --purple-color: purple;
}

body {
  background-color: var(--yellow-color);
  padding: 0px;
  margin: 0px;
}

body * {
  font-family: "Advent Pro", arial ;
}

/* Form fields */

input[type="text"].cyberpunk,
textarea.cyberpunk {
  width: 100%;
  border: 30px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-bottom: 15px solid #000;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  margin-bottom: 10px;
  padding: 12px;
}

input[type="text"].cyberpunk:after,
textarea.cyberpunk:after {
  content: "R-25";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #000;
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  transition: background var(--glitched-duration);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}

/* Separator */

hr {
  height: 14px;
  background-color: #000;
  width: 100%;
  clip-path: polygon(1px 0px, 0px 0px, 0px 0px, 8px 14px, 13px 14px, 22px 7px, 42px 6px, 49px 2px, 100% 2px, 100% 0px, 42px 0px, 35px 5px, 22px 6px, 13px 13px, 9px 13px);
  animation-name: hr;
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes hr {
  0% {
    transform: skew(0deg);
  }
  15% {
    transform: skew(0deg);
  }
  16% {
    transform: skew(20deg);
  }
  20% {
    transform: skew(20deg);
  }
  21% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

/* Images frames */

img.cyberpunk {
  border: 30px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-bottom: 15px solid #000;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: #000;
}

/* Textboxes */

/* Titles */

h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px;
}

h2.cyberpunk {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}

h3.cyberpunk {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h4.cyberpunk {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
}

h1.cyberpunk:before,
h2.cyberpunk:before,
h3.cyberpunk:before,
h4.cyberpunk:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
    background-color: #000;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h2.cyberpunk:before {
        clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h3.cyberpunk:before {
        clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk:before {
        clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk:after,
h2.cyberpunk:after,
h3.cyberpunk:after,
h4.cyberpunk:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3.cyberpunk:after,
h4.cyberpunk:after {
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Buttons and links */

button.cyberpunk2077,
a.cyberpunk2077 {
  --background-color: var(--red-color);
  display: block;
  border: none;
  border-radius: 0%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 35px 75px;
  margin: 10px;
  position: relative;
  color: #fff;
  border-right: 3px solid var(--border-color);
  clip-path: polygon(
    -15px 0%,
    calc(100% + 15px) 0%,
    calc(100% + 15px) 100%,
    20px 100%,
    -15px calc(100% - 35px)
  );
  cursor: pointer;
  background-color: var(--background-color);
  outline: none;
  display: inline-block;
}

button.cyberpunk2077:hover,
a.cyberpunk2077:hover,
button.cyberpunk2077:focus,
a.cyberpunk2077:focus {
  animation-name: buttonhover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

button.cyberpunk2077.green,
a.cyberpunk2077.green {
  --background-color: var(--green-color);
}

button.cyberpunk2077.purple,
a.cyberpunk2077.purple {
  --background-color: var(--purple-color);
}

button.cyberpunk2077.blue,
a.cyberpunk2077.blue {
  --background-color: var(--blue-color);
}

button.cyberpunk2077:after,
a.cyberpunk2077:after {
  content: "R-25";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #000;
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

button.cyberpunk2077:hover:after,
a.cyberpunk2077:hover:after,
button.cyberpunk2077:focus:after,
a.cyberpunk2077:focus:after {
  animation-name: buttonhoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button.cyberpunk2077:before,
a.cyberpunk2077:before {
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

button.cyberpunk2077:hover:before,
a.cyberpunk2077:hover:before,
button.cyberpunk2077:focus:before,
a.cyberpunk2077:focus:before {
  display: block;
  animation-name: buttonhoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes buttonhover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes buttonhoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes buttonhoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

/* Section */
section.cyberpunk {
  background-color: var(--yellow-color);
  color: #000;
  padding: 80px 60px;
}
section.cyberpunk.black {
  background-color: #000;
  color: var(--yellow-color);
}

section.cyberpunk.black h1,
section.cyberpunk.black h2,
section.cyberpunk.black h3,
section.cyberpunk.black h4 {
  color: var(--yellow-color);
}

section.cyberpunk.black h1:before,
section.cyberpunk.black h2:before,
section.cyberpunk.black h3:before,
section.cyberpunk.black h4:before,
section.cyberpunk.black hr {
  background-color: var(--yellow-color);
}

section.cyberpunk.black img.cyberpunk {
  border-color: var(--yellow-color);
  background-color: var(--yellow-color);
}


